.trThead{
    color: #1351B4;
}

.customTdWidthEdital{
    width: 200px;
}

.customTdWidthObject{
    width: 700px;
}

.customTdWidthDate{
    width: 100px;
}


.search:hover{
    cursor: pointer;
    color: #0c326f;
}

.inputsearch{
    width: 360px;
    height: 56px;
    padding: 8px 16px 8px 24px;
    border-radius: 8px;
}

.inputsearch:focus {
    border-color: #1351B4;
    outline: none; /* Remova a borda de foco padrão do navegador, se necessário */
  }
  

.inputsearch::placeholder {
    overflow: hidden;
    color: #000;
    font-variant-numeric: lining-nums proportional-nums;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Rawline;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
  }
  
  .divisor{
    width: 35px;
    height: 0.8px;
    transform: rotate(-90deg);
    background-color: #CCCCCC;
  }